/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 41px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 41px;
}
.container-main{
    padding-left: 5px;
    padding-right: 5px;
}

.min-lr-pad{
    padding-left: 0px;
    padding-right: 0px;
}
.min-b-pad{
    padding-bottom: 0px;
}
.footer-text{
    background-color: black;
    color: white;
}

.btn-wrap{
    white-space:normal !important;
    word-wrap:break-word; 
}

.navbar {
    margin-bottom: 0px;
}

.sfsu-notice{
    margin-bottom: 0px;
}
.home-banner{
    color: yellow !important;
}