body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.content {
    flex: 1;
}
@media only screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
}
.container-main{
    padding-left: 5px;
    padding-right: 5px;
}

.min-lr-pad{
    padding-left: 0px;
    padding-right: 0px;
}
.min-b-pad{
    padding-bottom: 0px;
}
.footer-text{
    background-color: black;
    color: white;
}

.btn-wrap{
    white-space:normal !important;
    word-wrap:break-word; 
}

.min-b-margin {
    margin-bottom: 0px;
}

.home-banner{
    color: yellow !important;
}
#map {
    height: 400px;
    width: 100%;
}